<h1>Editing roomtype</h1>

<%= render "form", roomtype: @roomtype %>

<br>

<div>
  <%= link_to "Show this roomtype", @roomtype, class:"btn btn-secondry" %> |
  <%= link_to "Back to roomtypes", roomtypes_path, class:"btn btn-dark" %>
</div>
