<br/>
<div class="d-flex justify-content-center">
  <div class="card-header">
  <h4 class=" text-center  text-primary mb-3">Add New Room Type</h4>
  <%= render "form", roomtype: @roomtype %>
  </div>
</div>
<div>
</div>