<h1>Editing room master</h1>

<%= render "form", room_master: @room_master %>

<br>

<div>
  <%= link_to "Show this room master", @room_master %> |
  <%= link_to "Back to room masters", room_masters_path %>
</div>
