<br/>
<%= render @room_master %>

<div>
  <%= link_to "Edit", edit_room_master_path(@room_master) , class:"btn btn-secondary"%> |
  <%= link_to "Delete", @room_master, data: {confirm:"Are you sure?"}, method: :delete, class: "btn btn-outline-danger", id: "delete-room-master-btn" %>|
   <%= link_to "Back", room_masters_path, class:"btn btn-dark" %>
</div>
