<div class="description">
 <p>
    <strong>Des_code:</strong>
    <%= billing_instruction.id %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= billing_instruction.description %>
  </p>

</div>
