<p style="color: green"><%= notice %></p>

<h1>Billing instructions</h1>

<div id="billing_instructions">
  <% @billing_instructions.each do |billing_instruction| %>
    <%= render billing_instruction %>
    <p>
      <%= link_to "Show this billing instruction", billing_instruction %>
    </p>
  <% end %>
</div>

<%= link_to "New billing instruction", new_billing_instruction_path %>
