<br/><br/>
<%= render @billing_instruction %>

<div class="row d-flex g-3">
<p>
  <%= link_to "Edit", edit_billing_instruction_path(@billing_instruction), class:"btn btn-warning" %> |    
  <%= link_to "Back", billing_instructions_path,class:"btn btn-dark" %> |          
  <%= button_to "Delete", @billing_instruction,  method: :delete ,class:"btn btn-outline-danger"%>
  </p>
</div>
