<div id="<%= dom_id market_executive %>">
  <p>
    <strong>Market executive code:</strong>
    <%= market_executive.market_executive_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= market_executive.name %>
  </p>

</div>
