<h1>Editing market executive</h1>

<%= render "form", market_executive: @market_executive %>

<br>

<div>
  <%= link_to "Show this market executive", @market_executive %> |
  <%= link_to "Back to market executives", market_executives_path %>
</div>
