<div class="card">
  <p class="card-text">
    <strong>Code:</strong>
    <%= mealplan.code %>
  </p>

  <p class="card-text">
    <strong>Name:</strong>
    <%= mealplan.name %>
  </p>

 <p class="card-text">
    <strong>Effective date:</strong>
    <%= mealplan.effective_date %>
  </p>

</div>