<div id="<%= dom_id mealplan %>">
  <p>
    <strong>Code:</strong>
    <%= mealplan.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= mealplan.name %>
  </p>

  <p>
    <strong>Effective date:</strong>
    <%= mealplan.effective_date %>
  </p>

</div>
