<br/>
<br/>
<table class="table table-bordered table-striped table-hover table-sm">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Effective Date</th>
    </tr>
  </thead>
  <tr>
  <% @mealplans.each do |mealplan| %>
  <tr>
    <td><%=mealplan.code%></td>
    <td><%=mealplan.name%></td>
    <td><%=mealplan.effective_date%></td>
    </tr>
  <% end %>
</div>
</div>
</div>
<div class="">
<%= link_to "New mealplan", new_mealplan_path ,class:"btn btn-primary sm mb-2"%>
</div>
