
<br/><br/>
<%= link_to "New room feature", new_room_feature_path, class:"btn btn-dark mb-2" %>

<table class="table table-bordered table-striped table-hover table-sm">
  <thead  class="thead-dark ">
    <tr>
      <th>Code</th>
      <th>Name</th>
    </tr>
  </thead>
 <% @room_features.each do |room_feature| %>
      <tr>
        <td><%= link_to room_feature.code,room_feature %></td>
        <td><%= room_feature.name%></td>
      </tr>

  <% end %>
</table>
    
