<h1>Editing checkout time</h1>

<%= render "form", checkout_time: @checkout_time %>

<br>

<div>
  <%= link_to "Show this checkout time", @checkout_time %> |
  <%= link_to "Back to checkout times", checkout_times_path %>
</div>
