<table class="table table-bordered table-striped table-hover table-sm">
 <thead  class="thead-dark ">
    <tr>
      <th>Code</th>
      <th>Name</th>
    </tr>
  </thead>
  <p>
    <strong>Code:</strong>
    <%= nationality.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= nationality.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= nationality.short_name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= nationality.region&.name%>
  </p>
</div>
