<br/><br/>
<div class="card border-primary">
<h4 class="card-header bg-primary text-white">Nationality</h4>
<div class="card-body">
  <p><strong>Country code:</strong>  <%= @nationality.code %> </p>
  <p><strong>Country: </strong> <%= @nationality.name%></p>
  <p><strong>Region: </strong><%= @nationality.region&.name%> </p>
  
</div>
</div>


