<br/>
<div class="d-flex justify-content-center">
<div class="card border-primary mb-3" style="width:28em">
<h4 class="card-header">Edit nationality</h4>
<div class="card-body">
<%= render "form", nationality: @nationality %>

</div>
</div>
</div>
<br>


